@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/mixins";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/functions";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/variables";


.cards-container {
  // Mobile
  @include media-breakpoint-down(md) {
    flex-wrap: nowrap !important;
    overflow-y: auto;
  }
  // Desktop
  @include media-breakpoint-up(md) {
    justify-content: center;
  }
}

.btn-group.show {
  .fix-menu-right {
    display: flex;
    flex-direction: column;
    left: auto;
  }
}
