@import "../../styles";

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.container-about {
  min-height: calc(100vh - #{$navbar-height} - 3rem);
  background-image: url('src/assets/about_us_images/microfone_background.jpg');
  background-size: cover;
  background-position: center;
}

