<div class="bg-light m-md-5 container-about">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-8 p-4 m-4" style="background: rgba(255,255,255,0.8); border-radius: 15px;">
        <h1 class="display-4">Sobre nós</h1>
        <p class="lead text-muted mb-0">
          Conheça mais sobre o <b><i>Plinioke</i></b>, a mais <b>nova</b>, <b>moderna</b> e <b>promissora</b> plataforma de karaoke 🎤 do Brasil!!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white pb-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-list fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Tenha a lista completa de músicas em suas mãos</h2>
        <p class="font-italic text-muted mb-4">Sem mais catálogos velhos, caindo aos pedaços e difíceis de encontrar a música perfeita para o momento</p>
        <a [routerLink]="['/']" class="btn btn-light px-5 rounded-pill shadow-sm">Lista de Músicas</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img src="assets/about_us_images/list_music.png" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 mx-auto">
        <img src="assets/about_us_images/search.png" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6">
        <i class="fa fa-search fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Busque, filtre, favorite!</h2>
        <p class="font-italic text-muted">- "Luquinhas, vamos criar um grupo no Whatsapp para salvar as músicas que a gente gosta de cantar e nunca lembra o código?"</p>
        <p class="text-muted mb-4">- "🤦‍♂"</p>
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fas fa-save fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Salve as músicas em listas menores, que tenham a sua cara</h2>
        <p class="font-italic text-muted mb-4">"Lentinhas", "Sofrência", "Dueto", são só alguns exemplos daquilo que você pode criar</p>
        <a [routerLink]="['/minhas-listas']" class="btn btn-light px-5 rounded-pill shadow-sm">Minhas listas</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img src="assets/about_us_images/save.png" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img src="assets/about_us_images/share.png" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6">
        <i class="fas fa-bullhorn fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Compartilhe suas listas com seus amigos</h2>
        <p class="font-italic text-muted mb-4">Tão simples quanto cantar <b>Evidências</b> depois de um ou duas cervejas</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Nosso time</h2>
        <p class="font-italic text-muted">Conheça quem faz o possível e o impossível para que você tenha que se preocupar apenas em não passar <s>muita</s> vergonha cantando</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item: Gustavo -->
      <div class="col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="assets/about_us_images/gustavo.jpg" alt="" style="width: 100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gustavo Lopes</h5><span class="small text-uppercase text-muted">CEO/CTO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/lopes.gustavojf" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/lopesgustavojf" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/gustavomlopes" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item: Plinio -->
      <div class="col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="assets/about_us_images/plinio.jpg" alt="" style="width: 100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Plinio Magalhães</h5><span class="small text-uppercase text-muted">COO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/plinio.mc.3" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/plinio.mcorrea" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/plínio-corrêa-340317153" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item: Thaís -->
      <div class="col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="assets/about_us_images/thais.jpg" alt="" style="width: 100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Thaís Alves</h5><span class="small text-uppercase text-muted">CMO</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/thais.alves.982" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/thais_alvs" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/thaisalvescarvalho" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item: Áurea -->
      <div class="col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="assets/about_us_images/aurea.jpg" alt="" style="width: 100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Áurea Soares</h5><span class="small text-uppercase text-muted">Diretora de Eventos</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/aurea.soares.5" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/aureascarneiro" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/aurea-soares-carneiro" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item: Ingrid -->
      <div class="col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="assets/about_us_images/ingrid.jpg" alt="" style="width: 100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Ingrid Carraro</h5><span class="small text-uppercase text-muted">CHRO</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/ingrid.carraro.7" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/ingridcarrarop" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ingrid-carraro-b78296148" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>
