<div class="container">
  <div class="row">
    <!-- Search bar -->
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <label for="search-input">Search</label>
        <input #search type="text" class="form-control" id="search-input" mdbInput>
      </div>
    </div>

    <!-- Filtros -->
    <div class="col-auto align-self-center">
      <mdb-checkbox #fav [default]="true" (click)="viewport.scrollToOffset(0)">Apenas favoritos</mdb-checkbox>
    </div>
  </div>

  <div class="row">
    <cdk-virtual-scroll-viewport #viewport [itemSize]="itemSize" style="height: 60vh; width: 100%">
      <ul class="list-group list-group-hover list-group-striped">
        <li class="list-group-item d-flex font-weight-bold">
          <span style="width: 15%; min-width: 60px">Código</span>
          <span style="width: 30%; min-width: 120px">Cantor</span>
          <span class="flex-1">Título</span>
        </li>

        <li class="list-group-item d-flex" *cdkVirtualFor="let el of musicaRecords | favFilter:fav.checked | filter:search.value">
          <span style="width: 15%; min-width: 60px">{{el.code}}</span>
          <span style="width: 30%; min-width: 120px">{{el.cantor | titlecase}}</span>
          <span class="flex-1">{{el.titulo | titlecase}}</span>
          <span class="pointer" (click)="changeFavorite(el)">
            <mdb-icon *ngIf="!el.favorite" far icon="heart"></mdb-icon>
            <mdb-icon *ngIf="el.favorite" fas icon="heart"></mdb-icon>
          </span>
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>

    <div>Total: {{ musicaRecords.length }}</div>
  </div>
</div>
