<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Plinioke</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/']" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['compartilhar']" mdbWavesEffect>Compartilhar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['minhas-listas']" mdbWavesEffect>Minhas Listas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['sobre']" mdbWavesEffect>Sobre</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<router-outlet></router-outlet>
